body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.header-logo {
	padding-top: 8px;
}

.main-navigation {
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;

	background-color: #32425c;
}

.site-navigation{
	list-style: none;
}

.site-navigation a {
	color: #ffffff;
}

.topbar {
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
}

.topbar-navigation {
	list-style: none;
	padding: 12px 16px;
    margin: 0;
}


.topbar-navigation a{
	background-color: #32425c;
}

.topbar a {
	color: #ffffff;
}

.site-navigation a:hover {
	background-color: #1d2739;
}

.site-navigation a:active {
	background-color: #1d2739;
	opacity: 0.5;
}

.top-content {
	color:#000000;

	background-color: #f3f7f8;
	background-position: 0 0;

}

.row-call {
	text-align: center;
}

.phone-namber {
	color: #ee3643;
	border: 2px solid #ffffff;
}

.user-navigation{
	list-style: none;
}

.user-navigation a {
	color: #000000;
}

.user-navigation a:hover{
	color: #fb463c;
}

.user-navigation a:active{
	color:#000000;
	opacity: 0.5;
}

.user-navigation a {
	background-color: #ffffff;
}


.footer-top {
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;

	background-color: #32425c;
}

.footer-nav {
	list-style: none;
}

.footer-nav a {
	color: #ffffff;
}

.footer-nav a:hover {
	color: #ffcf8c;
}

.footer-nav a:active {
	opacity: 0.3;
}

.footer-navigation {
	list-style: none;
}

.footer-navigation a {
	color: #ffcf8c;
}

.footer-navigation a:hover {
	color: #ffffff;
}

.footer-navigation a:active {
	opacity: 0.3;
}

.footer-bottom {
	background-color: #293448;
	color: #ffffff;
}

.footer-social {
	list-style: none;
	text-align: center;
}

.social-button {
  color: #ffffff;
}

.callback a{
	color: #ffcf8c;
}

.template-by a{
	color: #ffcf8c;
}

.footer-copyright {
  text-align: center;
}

.about-us h2{
	text-transform: uppercase;
}

.about-us ul{
	list-style: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f03644;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #715759;
}

.map-container {
  color: #000000;
  background-color: #ffffff;
}

.feedbackform input[type="text"],
.feedbackform input[type="textarea"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.feedbackform input:focus {
  border-color: #663d15;
}

.feedbackform input:hover,
.feedbackform input:focus {
  color: #663d15;
}

.catalog-list {
	list-style: none;
}

.main-header {
	display: block;
}

.topbar-header {
	background-color: #32425c;
}

.topbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 18px;
	max-height: 42px;
}

.row {
	margin:0 auto;
	padding: 0 10px;
	width:960px;
}

.topbar-navigation {
	display: flex;
}

.bookmarks {
	position: relative;
}

.bookmarks a{
	padding: 12px 30px;
}

.bookmarks::before {
	content: "";
	background: url("../img/icon/icon-bookmark.png")no-repeat 0;
	width: 14px;
    height: 16px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    opacity: 0.3;
}

.basket {
	position: relative;
}

.basket a{
	padding: 12px 30px;
}

.basket::before {
	content: "";
	background: url("../img/icon/cart-icon.png")no-repeat 0;
	width: 14px;
    height: 16px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    opacity: 0.3;
}

.place-your-order li{
	width:140px;
	background-color: #63a63e;
}

.place-your-order a {
	padding: 12px 16px;
	background-color: #63a63e;
}

.place-your-order a:hover {
	background-color: #5fbb2d;
}

.place-your-order a:active {
	background-color: #518534;
}

.search-header input[type="search"] {
  font: inherit;
  color: #000000;
}

.search-header input{
	padding-left:40px;
	border: none;
	min-height: 42px;
	color: #ffffff;
	background: url("../img/icon/icon-search.png")no-repeat 0 #33445a;
}

.search-header input:focus {
  background: url("../img/icon/icon-search.png")no-repeat 0 #ffffff;
}